# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
x64/
makcu-cpp/x64/

# Build artifacts
build/
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.suo
*.user
*.vcxproj.user

# Test files
basic_test.exe
*.bmp
*.macro